[package]
name = "aggregator"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4.12.1"
hostname = "0.4.2"
reqwest = { version = "0.13.1", default-features = false, features = ["blocking", "json", "rustls-tls"] }
